.converter{
	width: 280px;
	&__from-label{
		position: absolute;
		top: 50%;
		transform: translate(-0%, -50%);
	}
}

input{
	font-size: 26px;
	font-family: 'PT Mono', monospace;
}
.form {
	width: 300px;
	padding: 20px;
	height: 160px;
	transition: all .5s;
	&_active{
		.form{
			&__inner{
				background-color: rgb(29, 29, 29);
				margin-bottom: 2px;
			}
			&__to-input,
			&__from-input {
				width: 50%;
				opacity: 1;
			}
			&__result,
			&__amount{
				background-color: rgb(29, 29, 29);
				width: 50%;
			}
			&__result-calc{
				z-index: -2;
			}
			&__descr {
				opacity: 1;
		
			}
		}
	}
	&__inner{
		position: relative;
		display: flex;
		justify-content: space-between;
		// background-color: rgba(255, 255, 255, 0.075);
		padding: 10px;
		border-radius: 8px;
		margin-bottom: 2px;
	}
	&__inner-result{
		position: relative;
		transition: all .5s;
	}
	&__to-input,
	&__from-input {
		color: #fff;
		width: 0%;
		display: flex;
		align-items: center;
		transition: opacity .5s;
		opacity: 0;
		background-size: auto 20px;
		background-repeat: no-repeat;
		background-position: 60px;
	}
	&__result,
	&__amount{
		color: #fff;
		text-align: right;
		width: 100%;
		font-size: 25px;
		font-family: 'PT Mono', monospace;
	}
	&__result{
		position: absolute;
		right: 10px;
		width: calc(100% - 20px);
		background-color: #0f0f0f;
	}
	&__result-calc{
		z-index: 2;
	}
	&__amount{
		font-size: 26px;

	}
	&__descr {
		display: block;
		font-size: 12px;
		height: 18px;
		margin-bottom: 15px;
		opacity: 0;

	}
}
